@page
@model RazorPagesTestAppTF.Pages.User.EditUserModel
@{
}

<h1 class="text-info">Edit User</h1>
<div class="row">
	<div class="col-md-8">
		<form method="post" asp-page="/User/EditUser">
			<input asp-for="@Model.UserViewModel.Id" hidden />
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="form-group mt-3">
				<label asp-for="UserViewModel.UserName"></label>
				<input asp-for="UserViewModel.UserName" readonly class="form-control" />
				<input asp-for="UserViewModel.UserName" hidden />
			</div>

			<div class="form-group mt-3">
				<label asp-for="UserViewModel.FirstName"></label>
				<input asp-for="UserViewModel.FirstName" class="form-control" />
				<span asp-validation-for="UserViewModel.FirstName" class="text-danger" />
			</div>

			<div class="form-group mt-3">
				<label asp-for="UserViewModel.LastName"></label>
				<input asp-for="UserViewModel.LastName" class="form-control" />
				<span asp-validation-for="UserViewModel.LastName" class="text-danger" />
			</div>

			<div class="form-group mt-3">
				<label asp-for="UserViewModel.Role"></label>
				<select asp-for="UserViewModel.Role" asp-items="@Model.UserViewModel.RoleList" class="form-control">
					<option disabled selected>--Select Role--</option>
				</select>
			</div>

			<div class="form-group mt-3">
				<button type="submit" class="btn btn-success">Update</button>
				<a asp-page="/User/GetUsers" class="btn btn-warning" style="width:auto">Back to user</a>
			</div>
		</form>
	</div>
</div>